body {
  font-family: 'MedievalSharp';
  margin: 0;
  padding: 0;
  background-color: #ab9e9e;
}

.quiz-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #532424;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-header {
  text-align: center;
  margin-bottom: 20px;
}

.quiz-form {
  max-width: 400px;
  margin: 0 auto;
}

.question {
  margin-bottom: 15px;
}

.submit-button {
  padding: 10px 20px;
  background-color: rgb(176, 125, 68);
  color: rgb(17, 16, 16);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: rgb(255, 94, 0)9)69, 69);
}

.quiz-result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}