body {
    font-family: 'MedievalSharp'  ;
    background-color: #6d6a6a;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }
  
  #quiz {
    max-width: 600px;
    margin: 0 auto;
    background-color: #673333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(189, 68, 68, 0.1);
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgb(100, 22, 22)101;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(237, 119, 119)
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(156, 46, 34);
  }
  
  #result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }